In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'C:\Users\AMADI DOMNIC U\Desktop\python\data.csv')

In [4]:
data.head(2)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08

In [43]:
#no 1 answer

data.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [47]:
#no 2 answer

data.sort_values('revenue', ascending=False)[['original_title', 'revenue']].head(10)

                                    original_title     revenue
1386                                        Avatar  2781505847
3                     Star Wars: The Force Awakens  2068178225
5231                                       Titanic  1845034188
4361                                  The Avengers  1519557910
0                                   Jurassic World  1513528810
4                                        Furious 7  1506249360
14                         Avengers: Age of Ultron  1405035767
3374  Harry Potter and the Deathly Hallows: Part 2  1327817822
5422                                        Frozen  1274219009
5425                                    Iron Man 3  1215439994

In [ ]:
#no 3 answer

In [54]:
#no 4 answer

data.value_counts('cast').head(10)

cast
Louis C.K.                                                                  6
William Shatner|Leonard Nimoy|DeForest Kelley|James Doohan|George Takei     5
Bill Burr                                                                   4
Pierre Coffin                                                               3
Zac Efron|Vanessa Hudgens|Ashley Tisdale|Lucas Grabeel|Corbin Bleu          3
Elijah Wood|Ian McKellen|Viggo Mortensen|Liv Tyler|Orlando Bloom            3
George Carlin                                                               3
Chris Wedge                                                                 3
Aziz Ansari                                                                 3
Sylvester Stallone|Talia Shire|Burt Young|Carl Weathers|Burgess Meredith    3
dtype: int64

In [55]:
#no 5 answer

data.value_counts('genres').head(10)

genres
Comedy                  712
Drama                   712
Documentary             312
Drama|Romance           289
Comedy|Drama            280
Comedy|Romance          268
Horror|Thriller         259
Horror                  253
Comedy|Drama|Romance    222
Drama|Thriller          138
dtype: int64

In [57]:
#no 6 answer

data.value_counts('production_companies').head(10)

production_companies
Paramount Pictures                        156
Universal Pictures                        133
Warner Bros.                               84
Walt Disney Pictures                       76
Metro-Goldwyn-Mayer (MGM)                  72
Columbia Pictures                          72
New Line Cinema                            61
Touchstone Pictures                        51
20th Century Fox                           50
Twentieth Century Fox Film Corporation     49
dtype: int64

In [59]:
#no 7 answer

data.value_counts('director').head(10)

director
Woody Allen          45
Clint Eastwood       34
Steven Spielberg     29
Martin Scorsese      29
Ridley Scott         23
Steven Soderbergh    22
Ron Howard           22
Joel Schumacher      21
Brian De Palma       20
Wes Craven           19
dtype: int64

In [16]:
#no 8 answer

In [70]:
#no 9 answer

data['original_title'].nunique()

10571

In [62]:
#no 10 answer